body {
    background-color: #333;
    color: Whitesmoke;
    font-size: 24px
}

/* / */

body {
   background-image: url("mybackground.jpeg"); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

h2 {
    background: linear-gradient(to right ,skyblue,Whitesmoke);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

p {
    background: linear-gradient(to left ,skyblue,Whitesmoke);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}